.news-container {
    padding: 30px 0;
    border-top: 1px solid #55555555;
}

.news-heading {
    color: var(--primary-color);
    text-align: center;
    margin-bottom: 30px;
    font-size: 35px;
}

.news-content {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.news-content-left {
    padding: 0 30px 30px;
    border-right: 1px solid #55555555;
}

.news-content-left .news-content-heading {
    font-size: 20px;
    font-weight: 600;
    color: #555555;
    margin-bottom: 20px;
}

.news-content-left select {
    padding: 10px;
    border-radius: 0px;
    display: block;
    margin-bottom: 40px;
}

.news-content-left .news-title {
    display: block;
    font-size: 20px;
    color: #000;
    margin-bottom: 20px;
}

.news-content-left ul li {
    padding: 5px 0;
    color: var(--primary-color);
    border-bottom: 1px solid #55555555;
}

.news-content-left ul li:last-child {
    border-bottom: none;
}

.news-content-left ul li a {
    color: var(--primary-color);
}

.news-content-right {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.news-content-right .news-post-item {
    /* padding: 0 15px 30px; */
    color: #000;
    font-size: 14px;
    box-shadow: 0 1px 2px #55555555;
    margin: 0px 15px 30px;
}

.news-post-item .post-item-content {
    padding: 10px;
}

.news-content-right .news-post-item .post-item-heading {
    margin-bottom: 5px;
    font-weight: 500;
}

@media screen and (max-width: 767px) {
    .news-content {
        display: block;
    }

    .news-content-left {
        border-right: none;
    }
}
