.product-container {
    display: flex;
    padding: 50px 0;
    border-top: 1px solid #55555555;
}

.product-img {
    width: 50%;
    padding: 0 15px 30px;
    position: relative;
}

.product-img-main {
    margin-bottom: 30px;
}

.product-img-main > .slick-prev {
    width: 36px;
    height: 36px;
    background: url(../images/product/arrow-left.png);
    font-size: 0;
    position: absolute;
    left: 10px;
    top: 50%;
    z-index: 100;
    transform: translateY(-50%);
}

.product-img-main > .slick-next {
    width: 36px;
    height: 36px;
    background: url(../images/product/arrow-right.png);
    font-size: 0;
    position: absolute;
    right: 10px;
    top: 50%;
    z-index: 100;
    transform: translateY(-50%);
}

.product-img-list .product-img-item {
    padding: 5px;
    opacity: 0.5;
}

.product-img-list .product-img-item.slick-current {
    padding: 5px;
    opacity: 1;
}

.product-detail {
    width: 50%;
    padding: 10px 15px 30px;
    color: #000;
}

.product-detail .product-detail-category {
    margin-bottom: 10px;
}

.product-detail .product-detail-category > a {
    color: #000;
}

.product-detail .product-detail-name {
    font-size: 28px;
    margin-bottom: 15px;
}

.product-detail .product-detail-price {
    margin-bottom: 50px;
}

.product-detail .product-detail-price .price-number {
    font-size: 20px;
}

.product-detail .product-detail-desc {
    color: #555555;
    margin-bottom: 20px;
}

.product-detail .product-detail-label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.product-detail-label .detail-label-name {
    margin-right: 50px;
}

.product-detail-label select {
    padding: 10px;
}

.product-detail .product-detail-button {
    width: 300px;
}

/* description  */
.description-container {
    display: grid;
    color: #000;
    grid-template-columns: 1fr 3fr;
    padding: 10px 15px 30px;
}

.description-container .description-left {
    border-right: 1px solid #55555555;
    padding: 10px 0px 30px 15px;
}

.description-left .description-main {
    padding: 10px 0;
    border-bottom: 1px solid #55555555;
    cursor: pointer;
}

.description-left .description-more {
    padding: 10px 0;
    border-bottom: 1px solid #55555555;
    cursor: pointer;
}

.description-right {
    padding: 10px 30px 30px;
}

.description-right .description-main-detail .description-main-heading {
    font-size: 20px;
    margin-bottom: 10px;
}

.description-right .description-main-detail p {
    margin-bottom: 10px;
    color: #555555;
}

.description-more-detail {
    display: none;
}

.description-right .description-more-detail p {
    margin-bottom: 10px;
    color: #555555;
}

/* similarPro  */
.similarPro-container {
    color: #000;
    padding: 30px 0;
}

.similarPro-heading {
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 30px;
    padding: 0 10px;
}

.similarPro-list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.similarPro-list > .product-item {
    padding: 0 10px 20px;
    color: var(--primary-color);
    text-align: center;
}

.product-item > .category-product-detail > .category-product-name {
    padding: 10px 0;
}

.product-item > .category-product-detail > .category-product-price {
    color: #000;
}

.category-content-right > .product-item:hover > .category-product-detail {
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 767px) {
    .product-container {
        display: block;
    }
    .product-img {
        width: 100%;
        margin: 0 auto;
    }
    .product-detail {
        width: 100%;
    }
    .product-img-main .slick-list .slick-slide img {
        margin: 0 auto;
    }
    .product-detail .product-detail-button {
        width: 150px;
    }
    .description-container {
        grid-template-columns: 1fr;
    }
    .description-container .description-left {
        border-right: none;
    }
    .similarPro-list {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* swiper  */
.swiper.swiper1 {
    width: 100%;
    height: 20%;
    padding: 10px 0;
}

.swiper2 {
    width: 100%;
    height: 80%;
}

.swiper-button-next:after,
.swiper-button-prev:after {
    color: var(--primary-color);
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
}

.swiper-slide img {
    width: 100%;
    object-fit: cover;
}

.swiper1 .swiper-slide {
    opacity: 0.4;
}

.swiper1 .swiper-slide-thumb-active {
    opacity: 1;
}
